.listContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
    margin-top: 20px;
}

.filters {
    display: flex;
    background-color: #efefef;
    border-radius: 8px;
    padding: 5px;
    gap: 5px;
}

.filters button {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: gray;
    font-size: 14px;
    padding: 5px;
    width: 100%;
}

.activeFilter {
    background-color: white !important;
    color: black !important;
}

.notificationsList {
    list-style-type: none;
}