.listContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 15px;
    margin-top: 20px;
}

.filters {
    display: flex;
    background-color: #efefef;
    border-radius: 8px;
    padding: 5px;
    gap: 5px;
}

.filters button {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: gray;
    font-size: 14px;
    padding: 5px;
    width: 100%;
}

.activeFilter {
    background-color: white !important;
    color: black !important;
}

.notificationsList {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 10px;
}

.notificationCard {
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 10;
    gap: 14px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: gray;
    border-radius: 50%;
    padding: 6px;
    height: 40px;
    width: 40px;
}

.notificationContent {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.notificationContent .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notificationDate {
    font-weight: 500;
    opacity: 0.5;
    font-size: 14px;
}

.notificationContent p {
    font-size: 14px;
}