.container {
    display: flex;
    gap: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 7px 7px 1px rgba(0,0,0,0.22); 
    box-shadow: 0px 7px 7px 1px rgba(0,0,0,0.22);
}

.date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3453d139;
    border-radius: 10px;
    color: #3454d1;
    font-weight: bold;
    height: 60px;
    min-width: 60px;
    gap: 2px;
}

.date .number {
    font-size: 25px;
    line-height: 1lh;
}

.date .month {
    font-size: 16px;
    line-height: 1lh;
}

.info {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2px;
}

.state {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #3453d139;
    border-radius: 20px;
    color: #3454d1;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 12px;
}